<div class="row">
    <div class="col">
        <div class="form-group" *ngIf=on>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container *ngFor="let columna of columna" matColumnDef="{{columna.name}}">
                <th mat-header-cell *matHeaderCellDef> {{columna.titulo}} </th>
                <td mat-cell *matCellDef="let element" (click)="navegar(element.id)"> {{element[columna.name]}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>