<div class="container container-p">
    <div class="row hc">
        <div class="col-12  pb">
            <div class="caja blanca nombre">
                <h1 class="txtnombre">
                    {{cliente.nombre}} {{cliente.apellido}}
                    <i class="but"></i>
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4 nopr">
                    <div class="conteiner caja blanca">
                        <div class="row hc">
                            <div class="col-12">
                                <div class="imagen"></div>
                                <table class="tabla">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Rut:</th>
                                            <td>{{cliente.rut}}</td>
                                        </tr>
                                        <tr>
                                            <th> e-mail:</th>
                                            <td>{{cliente.email}}</td>
                                        </tr>
                                        <tr>
                                            <th>Telefono:</th>
                                            <td>{{cliente.nombre}}</td>
                                        </tr>
                                        <tr>
                                            <th>año ingreso:</th>
                                            <td>{{cliente.agno_ingreso}}</td>
                                        </tr>
                                        <tr>
                                            <th>Direccion:</th>
                                            <td>{{cliente.direccion}}/td>
                                        </tr>
                                        <tr>
                                            <th>Estado</th>
                                            <td>{{cliente.estado}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 pl">
                    <div class="caja blanca pad">
                        <h2 *ngIf="!on">Seleccionar Hora</h2>
                        <select class="browser-default custom-select" name="Seleccionar una opcion" *ngIf="!on">
                            <option>Seleccionar Opcion</option>
                            <option value=""  *ngFor = "let concepto of proce;">{{concepto.id}}</option>
                        </select>
                        <h2>{{titulo}}</h2>
                        <app-listas></app-listas>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>