.txtnombre{
    padding: 20px 20px 20px 40px;
    color: #398D8D;
}
.caja {
    width: 100%;
    height: 100%;
    position: relative;
}
.blanca{
    background-color: white;
}
.pb {
    padding-bottom: 10px !important;
    padding-top: 10px !important;

}
.but{
    float: right;
    position: relative;
    height: 30px;
    width: 30px;
    margin: 10px;
    background-color:  #398D8D;
    -webkit-mask-image: url(src/app/Icons/mail-send.svg);
    mask-image: url(src/app/Icons/mail-send.svg);
    mask-size: cover;
}
.but:hover{
    background-color: black;
}