<div class="container container-p">
    <div class="row hc">
        <div class="col-12  pb">
            <div class="caja blanca nombre">
                <h1 class="txtnombre">
                    {{route}}
                    <i class="but" *ngIf="button"></i>
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 nopr">
                    <div class="conteiner caja blanca">
                        <div class="row hc">
                            <div class="col-12">
                                <div>
                                    <ul>
                                        <li>
                                            Nombre Cliente
                                            <select class="browser-default custom-select" name="Seleccionar una opcion"  [attr.disabled]="nbool">
                                                <option value="null">{{nvalue}}</option>
                                            </select> 
                                        </li>
                                        <li>
                                            Destino:
                                            <select class="browser-default custom-select" name="Seleccionar una opcion"
                                            [attr.disabled]="nbool">
                                                <option value="hi">{{dvalue}}</option>
                                            </select>
                                        </li>
                                        <li>
                                            Descripcion:
                                        </li>
                                        <li>
                                            <textarea name="message" rows="10" cols="30" [attr.disabled]="desbool"></textarea>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
